NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
CLOUDFLARE_S3_API_ENDPOINT=
CLOUDFLARE_ACCESS_ID=
CLOUDFLARE_SECRET_KEY=
CLOUDFLARE_R2_BUCKET=elliotmairet
CLOUDFLARE_R2_STAGING_BUCKET=elliotmairet-staging
NEXT_PUBLIC_CLOUDFLARE_R2_PUBLIC_URL=https://images.dextery.dev/elliotmairet
NEXT_PUBLIC_CLOUDFLARE_R2_MEDIA_URL=https://media.dextery.dev/elliotmairet
